h1{
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color:white;
    text-decoration: skyblue;
    font-size: smaller;
}
.emoji{
    width: 100%;
}
body{
    background-color: black;
}
div{
    background: url("https://images3.alphacoders.com/704/704387.png") no-repeat fixed center;
    width:100%;
}