*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    background-color: #ff0f0f;
    color: white;
    

}
#mainHeader{
    width: 100%;
    height: 100px;
    background-color: #ff2a46;
    border-bottom: 4px solid #d4008e;
    overflow: auto;
}
#mainHeader .content{
   
    width:100%;
    min-width:550px;
    height: 90px;
   
}

#mainHeader .logo{
    height:100%;
}
#mainHeader .content h2{
    display: inline;
    
}

#topButtonEffects{
    display: block;
    background-color:white;
    width:100%;
    height: 50%;

}


#mainHeader .menu{
    float: right;
    width:300px;
    height: 90px;
    margin-right: 8px;
    border:2px solid #121212;
    background-color: #312626;
}
#mainHeader .menu li{
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    
}
#mainHeader .menu li a{
    color: white;
}
#mainHeader .menu .lang{
    display:block;
    background-color: #202020;
    padding:6px;
    border: 1px solid black;
     margin: auto;
    width:200px;
}
#mainHeader .menu .lang input{
    
    background-color: black;
    color: white;
    width:60px;
    min-width: 60px;
}
#main{
    width:100%;
    height:800px;
    border-bottom: 10px solid #121212;
    
}
  
#main .content{
    z-index: 1;
}
#main .right{
    float: right;
    padding:20px;
    width:50%;
    background-color: black;
}

#main .left{
    
    margin-top: 20px;
    float: left;
    
    width:40%;
    height:100%;
    background-color: black;
}
#main .mainButton{
    transition: all linear;
    display: block;
    width:56%;
    min-width: 602px;
    padding:10px;
    margin: 100px auto 20px auto;
    cursor: pointer;
    color: white;
    font-weight: 900;
    text-decoration: none;
    height: 26px;
    background-color: #a700bd;
    border-radius: 8px;

}
#main .mainButton:hover{
    
    transition: all;
    color: #ffffffe8;
    background-color:#9000a3 ;
    border-top: #111111 3px solid;

}
/* #main .effect{
    position: relative;
    top:0;
    width:100%;
    height: 100%;
    background-color: #red;
    z-index: 0;
} */
#discordServer{
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width:20%;
    height:90%;

    float:left;
    
}
#about{
    border-top: 10px solid  #111111;
    border-bottom: 20px solid #111111;
    height:100px;
    background-color: #8b6262;

}
footer{
    background-color: black;
}